<% if resource.errors.any? %>
  <div class="form-errors">
    <ul>  
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end  %>
    </ul>
  </div>
<% end %>