.banner {
  height: calc(100vh - 35px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.snake-hero {
  display: block;
  width: 100%;
}

.header h1 {
  font-size: 40px;
  word-wrap: break-word;
  background: white;
} 

.header h3 {
  font-size: 25px;
}

.sign-up-button {
  display: flex;
  justify-content: center;
}

.sign-up-button form input {
  height: 50px;
  border: 1px solid black;
  background-color: orangered;
  font-size: 30px;
  color: white;
}