.listings-form {
  display: flex;
  flex-direction: column;
}

.listings-form input[type=text] {
  display: block;
  height: 25px;
  border: 1px solid black;
  font-size: 20px;
}

.listings-form select {
  height: 25px;
  border: 1px solid orangered;
}

.listings-form label {
  font-size: 20px;
  margin: 10px 0px;
}

.listings-form input[type=submit] {
  display: block;
  margin: 20px 0px;
  border: 1px solid black;
  padding: 20px 0px;
  font-size: 20px;
  -webkit-appearance: none;
}

.form-errors {
  border: 1px solid red;
  margin: 20px 0px;
}