.listing {
  border: 1px solid black;
  margin: 10px 0px;
  display: flex;
  height: 200px;
}

.listing-content {
  width: 50%;
  background: rgba(0, 0, 0, 0.1);
}

.listing-image {
  display: block;
  width: 100%;
}